#!/usr/bin/env bash

#PBS -N %TASK%
#PBS -q np
#PBS -M dec5@ecmwf.int
#PBS -l EC_ecfs=0
#PBS -l EC_mars=1
#PBS -l EC_total_tasks=%EC_GET_ERA_SLAVES%
#PBS -l EC_threads_per_task=1
#PBS -l EC_memory_per_task=1024mb
#PBS -l EC_tasks_per_node=24
#PBS -l EC_hyperthreads=1